Repository MIEIdiscord/Rusteze, pull requests merged in 2019-09, with the labels that each got.

#17 Help command
  .travis.yml
  src/channels.rs
  src/commands.rs
  src/main.rs
Labels: command, enhancement

#18 Restrict command usage
  Cargo.lock
  Cargo.toml
  src/channels.rs
  src/commands.rs
  src/commands/admin.rs
  src/config.rs
  src/main.rs
Labels: breaking change, command, enhancement

#19 Add courses list command
  src/channels.rs
  src/commands.rs
  src/main.rs
Labels: command, enhancement

#20 Say and Edit commands
  src/commands/admin.rs
Labels: command, enhancement

#21 Improve error reporting and make updating prettier
  src/commands/admin.rs
  src/main.rs
Labels: enhancement

#22 Fix permissions and tweak some code
  src/channels.rs
  src/commands.rs
  src/config.rs
  src/main.rs
Labels: bug
